package git

import (
	"fmt"

	"github.com/Mirac61/lifelog/web/templ/layout"
	"github.com/Mirac61/lifelog/web/templ/ui"
)

templ Git(page GitPage) {
	@layout.Shell("git") {
		@ui.PageHead(ui.Head{
			Title:      "Git",
			Sub:        fmt.Sprint(page.Year),
			SubID:      "git-year",
			ControlsID: "git-controls",
		}) {
			@GitControls(page)
		}
		<div id="gitview">
			@GitView(page)
		</div>
	}
}
