package git

import (
	"fmt"

	"github.com/Mirac61/lifelog/web/templ/layout"
)

templ Git(page GitPage) {
	@layout.Shell("git") {
		<div class="page-head">
			<h1><span class="dot"></span>Git <span>/ <span id="git-year">{ fmt.Sprint(page.Year) }</span></span></h1>
			<div class="controls" id="git-controls">
				@GitControls(page)
			</div>
		</div>
		<div id="gitview">
			@GitView(page)
		</div>
	}
}
